[Unit]
Description=Droid mount for /firmware
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/dev/mmcblk0p1
Where=/firmware
Type=vfat
Options=ro,shortname=lower,uid=1000,gid=1026,dmask=227,fmask=337
# Options had SELinux context option:  context=u:object_r:firmware_file:s0

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

# From ./out/target/product/wt88047/root/fstab.qcom :
# /dev/mmcblk0p1          /firmware    vfat    ro,shortname=lower,uid=1000,gid=1026,dmask=227,fmask=337,context=u:object_r:firmware_file:s0    wait
