[Unit]
Description=Droid mount for /persist
Before=local-fs.target systemd-modules-load.service

[Mount]
What=/dev/mmcblk0p25
Where=/persist
Type=ext4
Options=noatime,nodiratime,nosuid,nodev,barrier=0,noauto_da_alloc
# Options had SELinux context option:  

# Default is 90 which makes mount period too long in case of
# errors so drop it down a notch.
TimeoutSec=10

[Install]
WantedBy=local-fs.target

# From ./out/target/product/wt88047/root/fstab.qcom :
# /dev/mmcblk0p25        /persist     ext4    noatime,nodiratime,nosuid,nodev,barrier=0,noauto_da_alloc   wait,notrim
